{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">
            {{ offres|length }} offre(s) dans
            <strong>{{ typeOffreUrn.nom }}</strong> <span class="text-muted">{{ urn }}</span>
        </h3>
        <div class="card-body">
            {% include '@AcMarchePivot/offres/_offres.html.twig' %}
        </div>
    </div>
{% endblock %}
