<table class="table table-bordered table-striped">
    <tr>
        <th>Lvl1</th>
        <th>Lvl2</th>
        <th>Lvl3</th>
        <th>Lvl4</th>
        <th>Lvl5</th>
        <th>Lvl6</th>
        <th>Lvl7</th>
    </tr>
    {% for lvl1 in typeOffre.children %}
        {% include '@AcMarchePivot/typeoffre/_line_children.html.twig' with {'typeOffre':lvl1, 'level':1} %}
        {% for lvl2 in lvl1.children %}
            {% include '@AcMarchePivot/typeoffre/_line_children.html.twig' with {'typeOffre':lvl2, 'level':2} %}
            {% for lvl3 in lvl2.children %}
                {% include '@AcMarchePivot/typeoffre/_line_children.html.twig' with {'typeOffre':lvl3, 'level':3} %}
                {% for lvl4 in lvl3.children %}
                    {% include '@AcMarchePivot/typeoffre/_line_children.html.twig' with {'typeOffre':lvl4, 'level':4} %}
                    {% for lvl5 in lvl4.children %}
                        {% include '@AcMarchePivot/typeoffre/_line_children.html.twig' with {'typeOffre':lvl5, 'level':5} %}
                        {% for lvl6 in lvl5.children %}
                            {% include '@AcMarchePivot/typeoffre/_line_children.html.twig' with {'typeOffre':lvl6, 'level':6} %}
                            {% for lvl7 in lvl6.children %}
                                {% include '@AcMarchePivot/typeoffre/_line_children.html.twig' with {'typeOffre':lvl7, 'level':7} %}
                            {% endfor %}
                        {% endfor %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
    {% endfor %}
</table>