{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Types d'offre pour pivotmarche.be</h3>
        <div class="card-body">

            {% include '@AcMarchePivot/typeoffre/_search.html.twig' %}

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Lvl1</th>
                    <th>Lvl2</th>
                    <th>Traductions</th>
                    <th>Mot clef</th>
                </tr>
                {% for lvl1 in typeOffres %}
                    {% include '@AcMarchePivot/typeoffre/_line.html.twig' with {'typeOffre':lvl1, 'level':1} %}
                    {% for lvl2 in lvl1.children %}
                        {% include '@AcMarchePivot/typeoffre/_line.html.twig' with {'typeOffre':lvl2, 'level':2} %}
                    {% endfor %}
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}