{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Recherche</h3>
        <div class="card-body">

            {% include '@AcMarchePivot/typeoffre/_search.html.twig' %}

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Offres</th>
                </tr>
                {% for typeOffre in typesOffre %}
                    <tr>
                        <td>{{ typeOffre }}</td>
                        <td>
                            <a href="{{ path('pivot_offres', {'id': typeOffre.id}) }}">
                                {{ typeOffre.urn }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

