{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Recherche</h3>
        <div class="card-body">

            {% include '@AcMarchePivot/typeoffre/_search.html.twig' %}

            <table class="table table-bordered table-striped">
                <tr>
                    <th>Nom</th>
                    <th>Mot clef</th>
                    <th>Traductions</th>
                    <th></th>
                </tr>
                {% for typeOffre in typesOffre %}
                    <tr>
                        <td>{{ typeOffre }}</td>
                        <td>{{ typeOffre.urn }}</td>
                        <td>
                            {% include '@AcMarchePivot/typeoffre/_flags.html.twig' %}
                        </td>
                        <td>
                            {% if  typeOffre.urn %}
                                <a href="{{ path('pivot_typeoffre_edit', {'id': typeOffre.id}) }}" title="Traduire">
                                    <i class="fas fa-pencil-alt"></i>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}

