{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Pivot</h3>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('pivot_typeoffre_index') }}">
                        Classements des offres chez Pivot
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://pivotgest.tourismewallonie.be/PivotGest-4.0.0/" target="_blank">
                        https://pivotgest.tourismewallonie.be/PivotGest-4.0.0/
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://organismes.tourismewallonie.be/doc-pivot-gest/" target="_blank">
                        https://organismes.tourismewallonie.be/doc-pivot-gest/
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://walloniebelgiquetourisme.be/" target="_blank">
                        https://walloniebelgiquetourisme.be/
                    </a>
                </li>

                <li class="list-group-item">
                    <a href="https://www.famenneardenne.be/" target="_blank">
                        https://www.famenneardenne.be/
                    </a>
                </li>
                <li class="list-group-item">
                    Personne de contact CGT :
                    aurelie.billon@tourismewallonie.be
                </li>
            </ul>
        </div>
    </div>

{% endblock %}