{% extends '@AcMarchePivot/layout.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Pivot</h3>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <a href="{{ path('pivot_typeoffre_index') }}">
                        Le catalogue complet
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="{{ path('pivot_typeoffre_index') }}">
                        Les types d'offres chez Pivot
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://pivotgest.tourismewallonie.be/PivotGest-4.0.0/" target="_blank">
                        Gestion des offres avec PivotGest (tourismewallonie.be)
                    </a>
                </li>
                <li class="list-group-item">
                    <a href="https://organismes.tourismewallonie.be/doc-pivot-gest/" target="_blank">
                        Documentation de PivotGest (tourismewallonie.be)
                    </a>
                </li>
            </ul>
        </div>
    </div>

{% endblock %}