{% extends 'base5.html.twig' %}

{% block menu_top %}
    <li class="nav-item">
        <a href="{{ path('pivot_home') }}" class="nav-link">
            <i class="fas fa-search"></i> Home
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('pivot_events') }}" class="nav-link">
            <i class="fas fa-search"></i> Events
        </a>
    </li>
    <li class="nav-item">
        <a href="{{ path('pivot_offres') }}" class="nav-link">
            <i class="fas fa-search"></i> Offres
        </a>
    </li>
{% endblock %}
